<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="1" android:versionName="1.0"
    package="com.hunted" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="8"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <uses-library android:name="com.google.android.maps"/>
        <activity android:label="@string/app_name"
            android:launchMode="singleTask" android:name=".MainActivity"/>
        <activity android:name=".JoinGameActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name=".MainMenu" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name=".GameActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name=".GameMenuActivity" android:theme="@android:style/Theme.Panel"/>
        <activity android:name=".GameoverActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name="ClientJoinGame" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name="Count" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:label="Hunted" android:launchMode="standard" android:name=".CheckLicense">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".GameStatusActivity" android:theme="@android:style/Theme.Panel"/>
    </application>
</manifest>
